
<div class="jumbotron" style="background-color: #fff; height: calc(95vh);">
    <h1>About Angular</h1>
    <p class="lead">
      For more information about Angular 7 please click on <a class="btn btn-lg btn-primary" href="https://angular.io/docs" role="button">View tutorial</a>
    </p>
    
  </div>
  <div class="toolbar" role="banner">
  
    <span>Welcome</span>
      <div class="spacer"></div>
      
  </div>
  
  <div class="content" role="main"></div>
  
  <router-outlet></router-outlet>